*{
    box-sizing: border-box;
    padding: 0;
    margin:0;
    font-family: 'Times New Roman', Times, serif;
}

body{
    color: wheat;
}
.hero-div{
    background-image:url("Background\ image\ 2.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black;
}
.header-container{
display: flex;
align-items: center;
}
.logo-img{
    width:209.38px;
   height:71.38px;
   margin-left: 60px;
}
.navbar{
    margin-left: 500px;
}
.list{
    list-style: none;
    display: flex;
    text-align: center;
    
}
.nav-link{
    text-decoration: none;
    color:white;
    font-size: 16px;
    font-weight: bold;
    padding: 20px 20px;

    
}

.nav-link:hover{
    color: red;
    letter-spacing: 0.1em;
    transition: 1s;
    background-color: black;
}

.hero-content2{
color:white;
margin-top: 100px;
margin-left: 20px;
width:420px;
}
.hero-content>p{
font-size: 10px;
}
.btn-2{
    width:200px;
    height:50px;
    background-color: red;
    border: 1px solid red;
    border-radius:8%;
    color:white;
    font-size: 16px;
    font-family: Arial;
    font-weight: bold;
    margin-left: 20px;
    margin-top: 20px;

}
.btn-2:hover{
    cursor: pointer;
}
.divv-container{
    display: inline-flex;
}
.logo-404{
    margin-left: 250px;
}
.report-link{
    color:yellow;
    margin-left: 20px;
}
.report-form{
    padding: 20px;
   visibility: hidden;
}
.openup{
    visibility: visible;
}
.report-form input{
    margin-top: 20px;
}
#text-area{
    margin-top: 20px;
    width:300px;
    height:300px;
}
.btn-3{
    width:100px;
    height:30px;
    background-color:white;
    border: 1px solid red;
    border-radius:40%;
    color:black;
    font-size: 10px;
    font-family: Arial;
    font-weight: bold;
    margin-left: 20px;
    margin-top: 20px;

}
.btn-3:hover{
    cursor: pointer;
}
.Thank-you-container{
    width:400px;
    background-color:white ;
    border-radius: 6px;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, 50%);
    color: black;
    text-align: center;
    padding: 0px 30px 30px;
    visibility: hidden;
}
.btn-4{
    width:100%;
    height:30px;
    background-color:green;
    border: 0px solid green;
    border-radius:6px;
    color:white;
    font-size: 16px;
    font-family: Arial;
    font-weight: bold;
    padding:10px 0px 0px 10px;
    margin-top: 20px;

}
.btn-4:hover{
    cursor: pointer;
}
.tick-logo{
    border-radius: 50%;
    width: 40px;
    height:40px;
    margin-top: -50px;
}
.about-section{
    text-align: center;
    margin-top: 20px;
    color: black;
}
.about-section p{
    margin-left: 35%;
    margin-right: 35%;
    margin-top: 20px;
}
#foot-er{
    margin:0px 0px 40px 40px;
    color: black;
}